<tr>
  <td><%= camp_session.name %></td>
  <td><%= camp_session.minimum_age %></td>
  <td><%= camp_session.maximum_age %></td>
  <td><%= camp_session.start_date %></td>
  <td><%= camp_session.end_date %></td>
  <td><%= number_to_currency(camp_session.fee) %></td>
</tr>