<%= form_for(camp_session) do |f| %>
  <% if camp_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camp_session.errors.count, "error") %> prohibited this camp_session from being saved:</h2>

      <ul>
      <% camp_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, size: 20 %>
  </div>

  <div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity, min: 1, max: 200 %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= date_field(:camp_session, :start_date, class:'datepicker_session') %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= date_field(:camp_session, :end_date, class:'datepicker_session') %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year, min: 2017, max: 2999 %>
  </div>

  <div class="field">
    <%= f.label :remaining %>
    <%= f.number_field :remaining, min: 0, max: 200 %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.number_field :gender %>
  </div>

  <div class="field">
    <%= f.label :fee %>
    <%= f.text_field :fee, min: 1, max: 1000 %>
  </div>

  <div class="field">
    <%= f.label :minimum_age %>
    <%= f.number_field :minimum_age, min: 1, max: 100 %>
  </div>

  <div class="field">
    <%= f.label :maximum_age %>
    <%= f.number_field :maximum_age, min: 1, max: 100 %>
  </div>

  <div class="field">
    <%= f.label :enabled %>
    <%= f.check_box :enabled %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
