<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
    <div class="panel panel-primary main-content">
      <div class="panel-body">
        <h3 class="section">Registrations</h3>
        <br>

        <% if @submissions.any? %>
            <table class="table" data-toggle="table"  >
              <thead>
              <tr>
                <th>Camper Name</th>
                <th>Week</th>
                <th>Dates</th>
                <th>Year</th>
                <th>Amount Paid</th>
              </tr>
              </thead>
              <tbody>
              <% @submissions.each do |submission| %>
                  <% submission.camper_submissions.each do |camper_submission| %>
                      <tr>
                        <td>
                          <%= link_to "#{camper_submission.camper.first_name} #{camper_submission.camper.last_name}", {controller: :parents, action: :show, id: camper_submission.id}, class: 'btn-link' %>
                        </td>
                        <td><%= camper_submission.camp_session.name %></td>
                        <td><%= getMonthDate(camper_submission.camp_session.start_date, camper_submission.camp_session.end_date) %></td>
                        <td><%= camper_submission.camp_session.year %></td>
                        <td><%= number_to_currency(submission.amount_paid/100)  %></td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
        <% end %>
      </div><!-- panel-body -->
    </div><!-- panel-primary -->
  </div><!-- col-md-4 -->
</div><!-- row -->