<%= form_for(camper) do |f| %>
    <%= f.hidden_field(:registration_cart_id) %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, size: 20, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, size: 20, class: 'form-control' %>
    </div>

    <%= f.label :gender %>
    <div class="form-group">
      <label class="radio-inline">
        <%= f.radio_button :gender, :male %> Boy
      </label>
      <label class="radio-inline">
        <%= f.radio_button :gender, :female %> Girl
      </label>
    </div>

    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_area :address, rows: 3, cols: 40, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :birth_date %>
      <%= date_field(:camper, :birth_date, class:'datepicker form-control') %>
    </div>

    <div class="camp-session-selection form-group">
      <table class="table table-hover">
        <thead>
        <tr>
          <th></th>
          <th>Week</th>
          <th>Ages</th>
          <th>Dates</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <% camp_sessions.each do |session| %>
            <tr>
              <td class="field session-<%= session.id %>">
                <%= f.radio_button(:camp_session_id, session.id, disabled:false) %>
              </td>
              <td>
                <label for="camper_camp_session_id_<%= session.id %>">
                  <%= session.name %>
                </label>
              </td>
              <td>
                <label for="camper_camp_session_id_<%= session.id %>">
                  <%= "#{session.minimum_age}-#{session.maximum_age}" %>
                </label>
              </td>
              <td>
                <label for="camper_camp_session_id_<%= session.id %>">
                  <%= getMonthDate(session.start_date, session.end_date) %>
                </label>
              </td>
              <td>
                <label for="camper_camp_session_id_<%= session.id %>">
                  <%= number_to_currency(session.fee) %>
                </label>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <%= link_to 'Back', registration_cart_path(registration_cart), class: 'btn btn-danger' %>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="actions pull-right">
          <%= f.submit 'Add Camper', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
