<p id="notice"><%= notice %></p>

<h1>Home Page for users</h1>



<br>

<%= link_to 'New Application', new_parent_path %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Week</th>
    <th>Dates</th>
  </tr>
  </thead>

  <tbody>
  <% @submissions.each do |submission| %>
    <% submission.camper_submissions.each do |camper_submission| %>
      <tr>
        <td><%= "#{camper_submission.camper.first_name} #{camper_submission.camper.last_name}" %></td>
        <td><%= camper_submission.camp_session.year %></td>
        <td><%= camper_submission.camp_session.name %></td>
        <td><%= getMonthDate(camper_submission.camp_session.start_date, camper_submission.camp_session.end_date) %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
