<!DOCTYPE html>
<html>
  <head>
    <title>Camp Wannakumbac - Registration</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', controller.controller_name, :media => 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %> background">
    <%= render 'layouts/header' %>
    <div class="error-message">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-dismissible alert-<%= message_type %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
